<h3>Them khoa hoc moi</h3>
<form method="POST" action="/courses/store">
    <div class="mb-3">
        <label for="name" class="form-label">Ten khoa hoc</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Mo ta</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="mb-3">
        <label for="thumbnail" class="form-label">Thumbnail</label>
        <input type="text" class="form-control" id="thumbnail" name="thumbnail">
    </div>
    <div class="mb-3">
        <label for="slug" class="form-label">Slug</label>
        <input type="text" class="form-control" id="slug" name="slug">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>