*{
    margin:  0 ;
    padding: 0;
}
:root {
    --pink: #FBA2D0;
    --purple: #C688EB;
    --orange: #FFC4A4;
    --blue: #92B9E3;
    --dark-blue: #6C7EE1;
}

.home {
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-weight: 900;
    color: white;
    font-family: "Open Sans", sans-serif;
    text-decoration-color: var(--blue);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-transform: uppercase;
    unicode-bidi: isolate;
    padding: 0;
    overflow: hidden;
    margin: 0;
}

.home {
    width: 100vw;
    height: auto; 
    /* background-image: url('../../assets/images/wide_16x9.jpg');
    background-size: contain;
    background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}

.about {
    width: 70vw;
    min-height: 8vh;
    background-color: var(--orange);

    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin: 30px;
}

.about h1 {
    font-size: 30px;
    padding: 10px
}
.feature{
    background-color: var(--blue);
}
.about p {
    padding: 10px
}
