.btn{
    background-color: red;
}
.body1{
    background-image: url('./assets/images/wide_16x9.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100vw;
    height: 100vh;
}